@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.Intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: white;
    padding-bottom: 50px;
    width: 100%;
}

.Intro h1{
    flex: 1;
    color: black;
    margin-bottom: 10px;
    font-size: 40px;
}

.Intro h2{
    color: black;
    margin-bottom: 200px;
    font-size: 20px;
}

.divider{
    flex: 1;
    background-color: rgb(51, 51, 51);
    height: 100%;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    display: flex;
    background-image: url(../../Images/iconPicture.jpg);
    background-position: center;
    background-size: cover;
    transition: .2s;
    box-shadow: 1px 1px 10px 1px;
}

.dividerText{
    flex: 1;
}

.dividerText h2{
    color: rgb(135, 160, 192);
}

.IntroIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 30px;
}

.Icons{
    flex: 1;
}

.Icons p{
    margin-top: 10px;
    font-size: 18px;
}

.Icons img{
    width: 150px;
    height: 150px;
}
@media all and (max-width: 926px) {
    .Intro{
        display: block;
        height: 850px;
    }

    .Intro h2{
        margin-bottom: 20px;
    }

    .divider{
        border-radius: 0px;
        border-bottom-right-radius: 300px;
        border-bottom-left-radius: 300px;
        height: 500px;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 600px){
    .IntroIcons .Icons img{
        width: 100px;
        height: 100px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .Intro h1{
        font-size: 40px;
    }

    .Intro h2{
        font-size: 18px;
    }
}

@media all and (max-width: 415px){

    .divider{
        border-radius: 0px;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 200px;
        height: 450px;
    }

    .dividerText{
        padding: 20px;
    }

    .Icons p{
        font-size: 10px;
    }

    .Intro{
        height: 600px;
    }
}