.Article{
    background-color: white;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    margin-top: 120px;
}

.Article h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.Article h2{
    margin-top: 40px;
    padding: 20px;
    border: solid;
    background-color: rgb(135, 160, 192);
    color: white;
    flex: 0;
    transition: 0.3s;
}

.Article h2:hover{
    background-color: rgb(128, 149, 177);
}

.Article p{
    font-size: 30px;
}