.ProjectContainer{
    padding-left: 20px;
    padding-right: 20px;
}

.ProjectHolder{
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 5px;
}

.ProjectTile{
    margin: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 6px 1px;
    text-align: center;
    padding-bottom: 20px;
}

.ProjectTile:hover{
    box-shadow: 1px 1px 10px 1px;
}

.ProjectTile h1{
    background-color: rgb(243, 243, 243);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0px 3px 6px 1px;
    font-size: 26px;
}

.ProjectTile p{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    font-size: 25px;
}

.ProjectTile img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: double;
}

.ProjectTile a{
    font-size: 30px;
    border:solid;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 100%;
}

.ProjectTile a:hover{
    background-color: black;
    border-color: black;
    color: white;
}

@media all and (max-width: 1450px) {
    .ProjectHolder{
        grid-template-columns: auto auto auto;
    }
}

@media all and (max-width: 1200px) {
    .ProjectHolder{
        grid-template-columns: auto auto;
        padding: 0px;
    }

    .ProjectContainer{
        padding: 0px;
    }

    .ProjectTile{
        margin-left: 5px;
        margin-right: 5px;
    }

    .ProjectTile p{
        font-size: 25px;
    }
}

@media all and (max-width: 744px) {
    .ProjectHolder{
        grid-template-columns: auto;
    }
}