.SkillsIcon{
    color: white;
    flex: 1;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
}

.SkillsIcon:hover{
    color: rgb(189, 213, 245);
}

.SkillsIcon h2{
    margin-bottom: 10px;
}

.imageStyle img{
    border: solid;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: white;
    transition: .3s;
}

.imageStyle img:hover{
    width: 175px;
    height: 175px;
}

@media all and (max-width: 500px) {
    .imageStyle img{
        width: 70px;
        height: 70px;
    }

    .SkillsIcon h2{
        font-size: 20px;
    }

    .imageStyle img:hover{
        width: 75px;
        height: 75px;
    }
}