.SkillsArticleContainer{
    width: 100%;
    padding: 10px;
    margin-top: 200px;
    background-color: rgb(247, 245, 245);
}

.SkillsArticle{
    padding: 10px;
    filter: blur(0px);
    padding: 10px;
}

.SkillsArticle h1{
    font-size: 60px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}


.SkillCard{
    padding: 10px;
    background-color:white;
    border-radius: 30px;
    padding-bottom: 20px;
}

.SkillCard h2{
    margin-bottom: 20px;
}

.SkillCard p{
    font-size: 23px;
    padding: 5px;
}

.progressBar{
    margin-top: 20px;
    padding: 20px;
    height: 20px;
    border-radius: 20px;
}

.progress{
    height: 100%;
    border-radius: 20px;
    background-color: green;
}