.SkillsArticle{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230), rgb(255, 255, 255));
    margin-top: 50px;
}

.SkillsArticle h1{
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}

.Skills{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media all and (max-width: 1220px) {
    .Skills{
        grid-template-columns: auto auto auto;
    }
}

@media all and (max-width: 697px){
    .Skills{
        grid-template-columns: auto auto;
    }
}