.Nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: White;
    color: black;
    z-index: 1;
    box-shadow: 1px 1px 5px 1px;
}

.logo{
    flex: 1;
    font-size: 30px;
    line-height: 10vh;
    color: rgb(135, 160, 192);
}

.NavListContainer{
    flex: 6;
}

.NavList{
    list-style: none;
}

.NavList li{
    display: inline;
    font-size: 30px;
    margin-left: 6%;
    margin-right: 6%;
    color: black;
    border-bottom: solid;
    border-width: 4px;
    border-color: rgb(224, 223, 223);
    transition: .3s;
}

.NavList li:hover{
    border-color: rgb(135, 160, 192);
}

.navSpacer{
    height: 52px;
}

.MobileNav{
    display: none;
}

.MobileNav{
    display: none;
}

.MobileNavIcon:hover{
    cursor: pointer;
}

.MobileNavIcon{
    display: none;
}

.MobileNavList{
    position: fixed;
    margin-top: 39px;
    height: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.MobileNavList li{
    font-size: 50px;
    color: black;
}

.MobileNavList ul{
    margin-top: 100px;
}


/************************* MOBILE *************************/
/* BREAKPOINTS */
@media all and (max-width: 1220px) {
    .MobileNavList ul{
        margin-top: 50px;
    }

    .NavList{
        display: none;
    }

    .NavListContainer{
        flex: 1;
        height: 40px;
    }

    .logo{
        flex: 2;
        margin-right: 50%;
    }

    .MobileNav{
        display: inline;
        flex: 1;
    }

    .MobileNavIcon{
        display: inline;
    }

    .bar{
        border: solid;
        border-radius: 15%;
        width: 30px;
        margin-bottom: 7px;
        margin-left: 50%;
    }

    .navSpacer{
        height: 60px;
    }
}

@media all and (max-width: 877px) {
    .MobileNavList ul{
        margin-top: 50px;
    }

    .MobileNav{
        flex: 1;
    }

    .bar{
        margin-left: 40%;
    }

    .logo{
        flex: 2;
        font-size: 20px;
    }
}

@media all and (max-width: 877px){
    .MobileNavList{
        margin-top: 5px;
    }

    .MobileNavList ul{
        margin-top: 20px;
    }
}

@media all and (max-width: 768px){
    .MobileNavList{
        margin-top: 66px;
    }

    .MobileNavList ul{
        margin-top: 20px;
    }
}

@media all and (max-width: 732px){
    .MobileNavList{
        margin-top: 0px;
    }

    .MobileNavList ul{
        margin-top: 20px;
    }
}

@media all and (max-width: 707px) {
    .MobileNavList{
        margin-top: 3px;

    }

    .MobileNavList ul{
        margin-top: 14px;
    }

    .Nav{
        display: flex;
    }

    .bar{

    }

    .logo{
        margin-right: 30%;
    }
}

@media all and (max-width: 569px){
    .MobileNavList ul{
        margin-top: 0px;
    }
}

@media all and (max-width: 541px){
    .MobileNavList{
        margin-top: 30px;
    }
}

@media all and (max-width: 420px) {
    .MobileNavList{
        margin-top: 30px;
    }

    .bar{
        margin-left: 30%;
    }

    .logo{
        margin-right: 0px;
    }

    .Intro{
        width: 100%;
    }
}



@media all and (max-width: 360px){
    .MobileNavList{
        margin-top: 28px;
    }
}

@media all and (max-width: 320px){
    .MobileNavList{
        margin-top: 21px;
    }

    .logo{
        margin-right: 0px;
        font-size: 19px;
    }

    .bar{
        margin-left: 20%;
    }
}
