.Nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: White;
    color: black;
    z-index: 1;
    box-shadow: 1px 1px 5px 1px;
}

.logo{
    flex: 1;
    font-size: 20px;
    text-decoration: underline;
    line-height: 10vh;
}

.NavListContainer{
    flex: 6;
}

.NavList{
    list-style: none;
}

.NavList li{
    display: inline;
    font-size: 24px;
    margin-left: 6%;
    margin-right: 6%;
    color: black;
    border-bottom: solid;
    border-width: 4px;
    border-color: rgb(224, 223, 223);
}

.NavList li:hover{
    border-color: rgb(135, 160, 192);
}

.navSpacer{
    height: 52px;
}

.MobileNav{
    display: none;
}

.MobileNav{
    display: none;
}

.MobileNavIcon:hover{
    cursor: pointer;
}

.MobileNavIcon{
    display: none;
}


/************************* MOBILE *************************/
/* BREAKPOINTS */
@media all and (max-width: 1210px) {
    .NavList{
        display: none;
    }

    .NavListContainer{
        flex: 1;
        height: 40px;
    }

    .logo{
        flex: 2;
        margin-right: 50%;
    }

    .MobileNav{
        display: inline;
        flex: 1;
    }

    .MobileNavIcon{
        display: inline;
    }

    .bar{
        border: solid;
        border-radius: 15%;
        width: 30px;
        margin-bottom: 7px;
        margin-left: 50%;
    }

    .navSpacer{
        height: 60px;
    }
}

@media all and (max-width: 877px) {
    .MobileNav{
        flex: 1;
    }

    .bar{
        margin-left: 40%;
    }

    .logo{
        flex: 2;
        font-size: 20px;
    }
}

@media all and (max-width: 707px) {
    .Nav{
        display: flex;
    }

    .bar{

    }

    .logo{
        margin-right: 30%;
    }
}

@media all and (max-width: 420px) {
    .bar{
        margin-left: 30%;
    }

    .logo{
        margin-right: 0px;
    }
}

@media all and (max-width: 320px){
    .logo{
        margin-right: 0px;
        font-size: 19px;
    }

    .bar{
        margin-left: 20%;
    }
}
